.w-100 {
    width: 100%!important;
  }
  .container2 {
    color: #9db5c2;
    display: flex;
    position: relative;
    justify-content: center;
  }
  .cards {
    width: calc(100% - 80px);
    overflow: hidden;
  }
  
  .overflow {
    position: relative;
    transition: left 0.5s ease-in-out;
  }
  .card2{
    
    height: 190px;
  }
  .card {
    padding: 15px;
    background-color: #e0e1e2;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  
  .no-right-margin {
    margin-right: 0px;
  }
  
  .card span {
    font-size:48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .left,
  .right {
    height: 30px;
    width: 30px;
    color: #0072bc;
  }
  
  .left.disabled, .right.disabled {
    color:#CCC;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .pocision{
      display: flex;
      position: relative;
      margin-right: 32px;
      margin-left: 42px;
      justify-content: space-between;
  }