
  .input-group2 {
    display:inline-block;
    position:relative;
    margin:0 20px;
    background:#ddd;
    width: 440px;
    color: #2d4e60;
}
.input-group2>input {
    padding-left: 30px;
    text-align: left;
    border:1px solid #ccc;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.input-group2>i {
  position:absolute;
  left:10px;
  top:11px;
  
}
@media screen and (max-width: 430px){
  .input-group2 {
      width: 350px;
      margin:0px;
      display: inline-table;
  }

}